form .content {
  margin-top: 0px !important;
  padding: 0;
  height: auto !important;
  min-height: auto !important;
}


.main-panel .content {
  height: auto !important;
  min-height: auto !important;
}

.bs-stepper-header .active {
  color: #007bff;
}

.bs-stepper-header .active span {
  color: #007bff;
}

.bs-stepper .step-trigger {
  padding: 10px !important;
}

.bs-stepper-label {
  margin: 0.05rem;
}
