<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <h4 class="card-title col-md-6"> Claims Table</h4>
          <form class="col-md-6">
            <div class="input-group no-border">
              <input (input)="searchClaim($event)" type="text" value="" class="form-control"
                placeholder="Search by claim number...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="nc-icon nc-zoom-split"></i>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Policy NO</th>
              <th>Product</th>
              <th>Claim no</th>
              <th>Claim Year</th>
              <th>Date occurred</th>
              <th>Date Declared</th>
              <th>claim eval</th>
              <th>Fees eval</th>
              <th>Recovery eval</th>
              <th>Claim Paid</th>
            </thead>
            <tbody>
              <tr *ngFor="let claim of claims">
                <td>{{claim.policy_no}}</td>
                <td>{{claim.product}}</td>
                <td>{{claim.claimNo}}</td>
                <td>{{claim.claim_year}}</td>
                <td>{{claim.date_occured}}</td>
                <td>{{claim.date_declared}}</td>
                <td class="text-right">{{claim.claim_eval}}</td>
                <td class="text-right">{{claim.fees_eval}}</td>
                <td class="text-right">{{claim.recoveryamt_eval}}</td>
                <td class="text-right">{{claim.claim_paid}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li [class]="offset==limit||count==0?'page-item disabled':'page-item'" (click)="previous()">
              <a class="page-link" tabindex="-1">Previous</a>
            </li>
            <li [class]="(offset<count)?'page-item':'page-item disabled'" (click)="next()">
              <a class="page-link" tabindex="-1">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>
