<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Insurance Request</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="application">
          <div class="row">
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Line of Business</label>
                <select formControlName="lob" class="form-control" (change)="lobChange($event)">
                  <option *ngFor="let lob of lobList" [value]="lob.id">{{lob.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Product</label>
                <select class="form-control" formControlName="product_id">
                  <option *ngFor="let product of selectedProducts" [value]="product.id">{{product.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 px-3 py-3">
              <h5 class="card-title">Customer Information</h5>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Mobile</label>
                <input formControlName="phone" type="tel" class="form-control" placeholder="Mobile">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Target Premium</label>
                <input formControlName="target_price" type="number" class="form-control" placeholder="Target Premium	">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="selectedLobName=='Motor'">
            <div class="col-md-12 px-3 py-3">
              <h5 class="card-title">Important Information</h5>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Product</label>
                <select formControlName="product" class="form-control">
                  <option *ngFor="let product of selectedQuoteProducts" [value]="product.id">
                    {{product.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Brand</label>
                <select (change)="brandChange($event)" formControlName="brand" class="form-control">
                  <option value="all brands">All brands (except Chinese & east Asia</option>
                  <option value="chinese cars & east asia">Chinese cars & east Asia</option>
                  <option value="all models">All Models</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Sum Insured</label>
                <input formControlName="sum_insured" type="number" class="form-control" placeholder="Sum Insured">
              </div>
            </div>
            <div *ngIf="application.get('brand').value=='all brands'" class="col-md-6 px-3">
              <div class="form-group">
                <label for="exampleInputEmail1">Deductible</label>
                <select formControlName="deductible" class="form-control">
                  <option value="250 EGP">250 EGP</option>
                  <option value="4 Per Thousand">4 Per Thousand</option>
                </select>
              </div>
            </div>
            <div *ngIf="AppInfo != undefined" class="col-md-12 px-3">
              <p class="text-center">Premium</p>
              <h2 class="text-center">{{AppInfo.price}}</h2>
            </div>
          </div>
          <div class="row" *ngIf="selectedLobName=='Medical'">
            <div class="col-md-12 px-3 py-3">
              <h5 class="card-title">Important Information</h5>
            </div>

            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Package for</label>
                <select class="form-control" formControlName="package" (change)="packageForChange($event)">
                  <option value="individual">Individual</option>
                  <option value="family">Family</option>
                  <option value="sme">SME</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 px-3">
              <div class="form-group">
                <label>Product</label>
                <select class="form-control">
                  <option *ngFor="let product of medicalProducts" [value]="product.id">{{product.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-12"
              *ngIf="application.get('packageFor').value=='family'||application.get('packageFor').value=='sme'">
              <div class="row">
                <div class="col-12" *ngFor="let person of peopleGroup; let i=index">
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>Type</label>
                        <select class="form-control">
                          <option value="spouse">Spouse</option>
                          <option value="kid">Kid</option>
                          <option value="brother">Brother</option>
                          <option value="sister">Sister</option>
                          <option value="Parent">parent</option>
                          <option value="grandparent">Grand parent</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control">
                          <option value="m">Male</option>
                          <option value="f">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>Date of birth</label>
                        <input type="date" class="form-control">
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="form-group" style="margin-top: 30px;">
                        <i class="fa fa-trash fa-2x" (click)=deletePerson(i)> </i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8"></div>
                <div class="col-4">
                  <button (click)="addAnotherPerson($e)" class="btn btn-primary btn-round btn-block">
                    Another person
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-12 px-3"
              *ngIf="application.get('packageFor').value==''||application.get('packageFor').value=='individual'">
              <div class="form-group">
                <label>Date Of Birth</label>
                <input type="date" class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 px-3" *ngIf="selectedLobName=='Fire'||selectedLobName==''">
              <button (click)="create()" type="submit" class="btn btn-primary btn-round btn-block">
                Create New Business
              </button>
            </div>
            <div class="col-md-4 px-3" *ngIf="selectedLobName=='Medical'||selectedLobName=='Motor'">
              <button (click)="create()" type="submit" class="btn btn-primary btn-round btn-block">
                Get A Quote
              </button>
            </div>
            <div class="col-md-4 px-3" *ngIf="selectedLobName=='Medical'||selectedLobName=='Motor'">
              <button class="btn btn-primary btn-round btn-block">
                Accept
              </button>
            </div>
            <div class="col-md-4 px-3" *ngIf="selectedLobName=='Medical'||selectedLobName=='Motor'">
              <button class="btn btn-primary btn-round btn-block">
                Reject
              </button>
            </div>


          </div>

        </form>
      </div>
    </div>
  </div>
</div>
