.icon-big {
  border-radius: 50%;
  height: 63px;
  width: 63px;
  margin-top: 5px;
  margin-bottom: 20px;

}

.red {
  background-color: #E12B38 !important;
}

.green {
  background-color: #3EB650 !important;
}

.orange {
  background-color: #FCC133 !important;
}
