<div class="row" *ngIf="dashboard!=undefined">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-chart-bar-32 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers text-center">
              <p class="card-category">Ranking</p>
              <p class="card-title">{{dashboard.rank}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers text-center">
              <p class="card-category">Production</p>
              <p class="card-title">{{dashboard.production.total}} EGP
                <p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div> -->
    </div>
  </div>
  <!--  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Target Vs Production</h5>
        <!-- <p class="card-category">24 Hours performance</p> -->
      </div>
      <div class="card-body ">
        <canvas id=targetProduction width="400" height="300"></canvas>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Last Year Vs Current Year</h5>
        <!-- <p class="card-category">24 Hours performance</p> -->
      </div>
      <div class="card-body ">
        <canvas id="currentVsLast" width="400" height="300"></canvas>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="row new-sts" *ngIf="dashboard!=undefined">
  <div class="col-12">
    <h4>Premium Under Collection</h4>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-3">
            <div class="icon-big text-center icon-warning green">
              <!--  <i class="nc-icon nc-chart-bar-32 text-warning"></i> -->
            </div>
          </div>
          <div class="col-9 col-md-9">
            <div class="numbers text-center">
              <p class="card-category">count</p>
              <p class="card-title">{{dashboard.collections.Green.count}}
                <p>
            </div>
            <div class="clearfix"></div>
            <div class="numbers text-center">
              <p class="card-category">total</p>
              <p class="card-title">{{dashboard.collections.Green.total}} EGP
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-3">
            <div class="icon-big text-center icon-warning orange">
              <!-- <i class="nc-icon nc-money-coins text-success"></i> -->
            </div>
          </div>
          <div class="col-9 col-md-9">
            <div class="numbers text-center">
              <p class="card-category">count</p>
              <p class="card-title">{{dashboard.collections.Orange.count}}
                <p>
            </div>
            <div class="clearfix"></div>
            <div class="numbers text-center">
              <p class="card-category">total</p>
              <p class="card-title">{{dashboard.collections.Orange.total}} EGP
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-3">
            <div class="icon-big text-center icon-warning red">
              <!-- <i class="nc-icon nc-money-coins text-success"></i> -->
            </div>
          </div>
          <div class="col-9 col-md-9">
            <div class="numbers text-center">
              <p class="card-category">count</p>
              <p class="card-title">{{dashboard.collections.Red.count}}<p>
            </div>
            <div class="clearfix"></div>
            <div class="numbers text-center">
              <p class="card-category">total</p>
              <p class="card-title">{{dashboard.collections.Red.total}} EGP<p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row new-sts" *ngIf="dashboard!=undefined">
  <div class="col-12">
    <h4>Renewals</h4>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-3">
            <div class="icon-big text-center icon-warning green">
              <!-- <i class="nc-icon nc-chart-bar-32 text-warning"></i> -->
            </div>
          </div>
          <div class="col-9 col-md-9">
            <div class="numbers text-center">
              <p class="card-category">count</p>
              <p class="card-title">{{dashboard.renews.Orange.count}}
                <p>
            </div>
            <div class="clearfix"></div>
            <div class="numbers text-center">
              <p class="card-category">total</p>
              <p class="card-title">{{dashboard.renews.Orange.total}} EGP
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-3">
            <div class="icon-big text-center icon-warning orange">
              <!-- <i class="nc-icon nc-money-coins text-success"></i> -->
            </div>
          </div>
          <div class="col-9 col-md-9">
            <div class="numbers text-center">
              <p class="card-category">count</p>
              <p class="card-title">{{dashboard.renews.Orange.count}}
                <p>
            </div>
            <div class="clearfix"></div>
            <div class="numbers text-center">
              <p class="card-category">total</p>
              <p class="card-title">{{dashboard.renews.Orange.total}} EGP
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-3">
            <div class="icon-big text-center icon-warning red">
              <!-- <i class="nc-icon nc-money-coins text-success"></i> -->
            </div>
          </div>
          <div class="col-9 col-md-9">
            <div class="numbers text-center">
              <p class="card-category">count</p>
              <p class="card-title">{{dashboard.renews.Orange.count}}
                <p>
            </div>
            <div class="clearfix"></div>
            <div class="numbers text-center">
              <p class="card-category">total</p>
              <p class="card-title">{{dashboard.renews.Orange.total}} EGP
                <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
